.update-product-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.update-product-div{
    min-width:300px;
    max-width: 500px;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 0 30px rgb(104, 101, 101);
    border-radius: 15px;
}

.product-detail{
    display: flex;
    align-items: center;
    margin: 1px 
}

.product-detail span{
    margin: 0;
    width: 100px;
}
.product-detail input{
    margin: 0
}