.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
   

}

.login-div{
    width: 50%;
    max-width: 500px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 30px rgb(104, 101, 101);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}

