.login-container{
    /* margin-top: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
   

}

.login-div{
    width: 50%;
    max-width: 500px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}

