.product-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(232, 221, 221);
}
.cell-header{
    border: 1px solid black;
    width: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.cell{
    border: 1px solid rgb(185, 182, 182);
    width: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
}