.navbar{
  background-color: #3e73d9;
  display: flex;
  margin: 0;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 15px;
}

.nav-ul li{

  display: flex;
  align-items: center;
  
}

.nav-ul li a {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  color: white;
}
img{
  width:63px;
  height:63px;
  float:left;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 2px;
}