.navbar{
  background-color: #3e73d9;
  display: flex;
  margin: 0;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 15px;
}

.nav-ul li{
  display: flex;
  align-items: center;
  
}

.non-active {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav-ul li a:hover{
  background-color: #0056b3;
  /* transform: scale(1.05); */
}

.active-link {
  font-weight:900;
  border: 1px solid rgb(246, 214, 6);
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  color: rgb(246, 214, 6);
  transform: scale(1.5);
}

img{
  width:63px;
  height:63px;
  float:left;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 2px;
}