.footer-div{
    background-color: #3e73d9;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0 5px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.footer-div h3{
    margin: 0;
}