.add-product-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-product-div{
    /* width:50%; */
    max-width: 500px;
    min-width: 300px;
    height: 350px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    box-shadow: 0 0 30px rgb(104, 101, 101);
    border-radius: 10px;
}