.profile-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-div{
    width:50%;
    max-width: 500px;
    margin-top: 20px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    box-shadow: 0 0 30px rgb(104, 101, 101);
    border-radius: 10px;
}

.user-detail{
    display: flex;
    align-items: center;
    margin: 1px;
}

.user-detail span{
    margin: 0;
    width: 100px;
}
.user-detail input{
    margin: 0
}