html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* removes horizontal scroll */
  overflow-y: auto;   /* keeps normal vertical scrolling */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app-container {
    margin: 0;
    padding: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.content{
    flex:1
}